.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.nav-item a {
  color: #e1e1e1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 8rem;
  border: 2px solid transparent;
}

.nav-item:hover a {
  color: white;
  border-bottom-color: red;
}

.nav-item.logo a {
  border: none;
}

.nav-item img {
  display: block;
}
